<!doctype html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Križić Kružić</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <style>
      table { border-collapse:collapse;}
      td {
        width:50px;
        height:50px;
        text-align: center;
        font-size: 24px;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Križić Kružić</h1>
    <table id="tabla">
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
    </table>
    <h2 id="poruka"></h2>

</html>
